@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

/* Suppression des marges et du padding par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container en pleine largeur et hauteur */
html, body {
    font-family: "Hind Siliguri", sans-serif;
    height: 100%;
    overflow: hidden; /* Désactive la barre de scroll */
}

/* Divise l'écran en deux moitiés, aucune bordure */
.container {
    display: flex;
    height: 100vh;
    width: 100vw; /* Utilise toute la largeur de la fenêtre */
}

/* Partie gauche avec fond noir qui colle au bord de la page */
.left-side {
    flex: 1;
    background-image: url('../asset/decoregister.jpg'); /* Image de fond */
    background-size: cover; /* Couvre toute la zone */
    background-position: center; /* Centrer l'image */
    background-repeat: no-repeat; /* Pas de répétition de l'image */
}

/* Partie droite avec fond blanc */
.right-side {
    flex: 1;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Style du formulaire centré */
.login-form {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff; /* Couleur d'arrière-plan du formulaire */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Effet d'ombre pour le cadre */
}

/* Reste des styles du formulaire */
.form-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-control:focus {
    border-color: #000000; /* Bordure bleue au focus */
    outline: none;
}

.btn-primary {
    background-color: #000000;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #535353;
}

.btn-block {
    display: block;
    width: 100%;
    margin-top: 20px;
}

/* Container pour centrer le logo */
.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* Taille du logo */
.logo {
    max-width: 150px; /* Ajuste la taille du logo si nécessaire */
    height: auto;
}
