<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduData</title>
    <link rel="icon" href="{{ asset('asset/favicon-removebg-preview.png') }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styleFooter.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styleheader.css') }}">
</head>
<body>
  {% include 'structure/header.html.twig' %}
  {% include 'structure/sidebar.html.twig' %}
  {% block body %}{% endblock %}
  {% include 'structure/footer.html.twig' %}
  {% block footer %}{% endblock %}
</body>
</html>
